@(report: Report, collapseIn: Boolean = false)

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#reports" data-target="#report@report.id">
                @report.packageName @report.appVersionName (@report.appVersionCode),
                @report.androidVersion@@@report.phoneModel,
                @report.createdAt.toString()<br />
            </a>
            <a class="pull-right" href="@routes.Reports.show(report.id)">Link</a>
            <code>@report.reason</code>
        </h4>
    </div>
    <div class="panel-collapse collapse @if(collapseIn) {in} else {}" id="report@report.id">
        <div class="panel-body">
            <p class="json" style="display: none;">@report.json</p>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <a data-toggle="collapse" data-target="#stack_trace@report.id">Stack trace</a>
                    </h5>
                </div>
                <div class="panel-collapse collapse" id="stack_trace@report.id">
                    <div class="panel-body">
                        <code>@Html(report.stackTrace)</code>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <a data-toggle="collapse" data-target="#logcat@report.id">Logcat</a>
                    </h5>
                </div>
                <div class="panel-collapse collapse" id="logcat@report.id">
                    <div class="panel-body">
                        <code>@Html(report.logcat)</code>
                    </div>
                </div>
            </div>

            <div class="tree"></div>
        </div>
    </div>
</div>
