<script>
    $(function() {
        $(".json").each(function(index, element) {
            var $el   = $(this);
            var $tree = $el.parent().find(".tree");
            var json  = JSON.parse($el.text());
            delete json["LOGCAT"];
            delete json["STACK_TRACE"];
            $tree.html(getTree(json));
        });

        $(".tree li:has(ul)").addClass("parent_li")
            .find("> ul > li")
                .hide("fast")
            .end()
            .find("> button")
                .attr("title", "Collapse this branch")
                .on("click", function (e) {
                    var children = $(this).parent("li.parent_li").find("> ul > li");
                    if (children.is(":visible")) {
                        children.hide("fast");
                        $(this).attr("title", "Expand this branch").find("> span.glyphicon").addClass("glyphicon-plus-sign").removeClass("glyphicon-minus-sign");
                    } else {
                        children.show("fast");
                        $(this).attr("title", "Collapse this branch").find("> span.glyphicon").addClass("glyphicon-minus-sign").removeClass("glyphicon-plus-sign");
                    }
                    e.stopPropagation();
                })
                .find("span.glyphicon")
                    .addClass("glyphicon-plus-sign")
        ;
    });

    function getTree(obj) {
        var $code = $("<code />", {class: "value"});
        if ($.isArray(obj)) {
            $code.text(obj.join(", "));
            return $code;
        }

        if (typeof(obj) == "string" || typeof(obj) == "boolean" || $.isNumeric(obj)) {
            $code.text(obj);
            return $code;
        }

        if ($.isPlainObject(obj)) {
            var $ul = $("<ul />");
            for (var key in obj) {
                if (obj.hasOwnProperty(key)) {
                    var $li = $("<li />");
                    var $button = $("<button />", {
                        type: "button",
                        class: "btn btn-default"
                    });
                    $button
                        .append($("<span />", {class: "glyphicon"}))
                        .append($("<span />", {
                            text: key,
                            class: "title"
                        }))
                    ;
                    $li
                        .append($button)
                        .append(getTree(obj[key]))
                    ;
                    $ul.append($li);
                }
            }
            return $ul;

        }
    }
</script>
