@(reportPage: Page[Report])

@link(newPage: Long) = @{
    routes.Reports.list(newPage)
}

@main("Total: " + reportPage.getTotalRowCount + " reports") {
    <div class="panel-group" id="reports">
        @for(report <- reportPage.getList) {
            @item(report)
        }
    </div>

    <ul class="pagination">
        @if(reportPage.hasPrev) {
            <li class="prev">
                <a href="@link(reportPage.getPageIndex - 1)">&larr; Previous</a>
            </li>
        } else {
            <li class="prev disabled">
                <a>&larr; Previous</a>
            </li>
        }
        <li class="current">
            <a>Displaying @reportPage.getDisplayXtoYofZ</a>
        </li>
        @if(reportPage.hasNext) {
            <li class="next">
                <a href="@link(reportPage.getPageIndex + 1)">Next &rarr;</a>
            </li>
        } else {
            <li class="next disabled">
                <a>Next &rarr;</a>
            </li>
        }
    </ul>

    @item_js()
}
