@(navbarForm: DynamicForm, packageNames: Map[String, String], appVersionNames: Map[String, String], androidVersions: Map[String, String])
@import helper._
@implicitField = @{ FieldConstructor(cleanFieldConstructorTemplate.f) }

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@routes.Application.index()">ACRobsession</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            @helper.form(action = routes.Reports.list(), 'class -> "navbar-form navbar-left") {
                <div class="form-group">
                    @helper.select(navbarForm("packageName"), options = helper.options(packageNames), 'class -> "form-control")
                </div>
                <div class="form-group">
                    @helper.select(navbarForm("appVersionName"), options = helper.options(appVersionNames), 'class -> "form-control")
                </div>
                <div class="form-group">
                    @helper.select(navbarForm("androidVersion"), options = helper.options(androidVersions), 'class -> "form-control")
                </div>
                <div class="form-group">
                    @helper.inputText(navbarForm("logcatStackTraceFilter"), 'class -> "form-control", 'placeholder -> "Logcat and stack trace")
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            }
        </div>
    </div>
</nav>
